{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  {{ if $page.Params.image}}
  <div class="col-xs-12 col-md-8">
    <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
    {{ $page.Content }}
  </div>
  <div class="col-xs-12 col-md-4">
    <img src="{{ $page.Params.image }}" alt="{{ $page.Title }}" class="pull-left img-responsive" />
  </div>
  {{ else if $page.Title }}
  <div class="col-xs-12 col-md-8">
    {{ $page.Content }}
  </div>
  <div class="col-xs-12 col-md-4 section-heading">
    <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  {{ else }}
  <div class="col-md-12">
    {{ $page.Content }}
  </div>
  {{ end }}
</div>
